# <font color='red'>Webscraping Assignment - 1</font>

In [1]:
# Installing Libraries

!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\prita\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\prita\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\prita\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\prita\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prita\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prita\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\prita\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\prita\anaconda3\lib\site-packages (from requests) (1.26.8)

In [2]:
# Importing the Required Libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

### <font color='red'>1) Write a python program to display all the header tags from wikipedia.org.</font>

In [3]:
page1=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page1

In [4]:
soup1=BeautifulSoup(page1.content)

In [5]:
Header= soup1.find_all(['h1', 'h2','h3','h4','h5','h6'])

In [6]:
Header_name=[]

for i in Header:
    Header_name.append(i.text.replace('\n',''))

In [7]:
len(Header_name)

21

In [8]:
# Making dataframe  

df1 = pd.DataFrame({'Header_name':Header_name})
df1.index=df1.index+1

df1

                      Header_name
1                       Main Page
2            Welcome to Wikipedia
3   From today's featured article
4                Did you know ...
5                     In the news
6                     On this day
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages
11                Navigation menu
12                 Personal tools
13                     Namespaces
14                          Views
15                         Search
16                     Navigation
17                     Contribute
18                          Tools
19                   Print/export
20              In other projects
21                      Languages

### <font color='red'>2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.</font>

In [9]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
soup2 = BeautifulSoup(response.content, 'html.parser')

In [10]:
movie_name  = []
year = []
movie_rating = []

In [11]:
movie_data = soup2.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

In [12]:
for store in movie_data:
    name = store.h3.a.text    
    movie_name.append(name)

In [13]:
len(movie_name)

100

In [14]:
for store in movie_data:
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text
    year.append(year_of_release)

In [15]:
len(year)

100

In [16]:
for store in movie_data:
    rating = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n','')
    movie_rating.append(rating)

In [17]:
len(movie_rating)

100

In [18]:
# Making dataframe

df2 = pd.DataFrame({'Name of movie': movie_name, 'Year of release': year, 'Rating':movie_rating})

df2.index=df2.index+1
df2.index.name="Rank"

df2

                                      Name of movie Year of release Rating
Rank
1                          The Shawshank Redemption          (1994)    9.3
2                                     The Godfather          (1972)    9.2
3                                   The Dark Knight          (2008)    9.0
4     The Lord of the Rings: The Return of the King          (2003)    9.0
5                                  Schindler's List          (1993)    9.0
...                                             ...             ...    ...
96                                           Dangal          (2016)    8.3
97                                         Drishyam          (2013)    8.3
98                                           Jagten          (2012)    8.3
99                          Jodaeiye Nader az Simin          (2011)    8.3
100                                       Incendies          (2010)    8.3

[100 rows x 3 columns]

### <font color='red'>3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.</font>

In [19]:
page3=requests.get('https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1')
page3

In [20]:
soup3=BeautifulSoup(page3.content)

In [21]:
Movie_Titles = []

for i in soup3.find_all(class_="titleColumn"):
    Movie_Titles.append(i.text.splitlines()[2])


Movie_Titles = Movie_Titles[0:100]

In [22]:
len (Movie_Titles)

100

In [23]:

Movie_Year = []
for i in soup3.find_all(class_="titleColumn"):
    Movie_Year.append(i.text.splitlines()[3])


Movie_Year = Movie_Year[0:100]

In [24]:
len (Movie_Year)

100

In [25]:
# Showing the Top 100 IMDB Rated Indian Movies Ratings

Movie_Rating = []
for i in soup3.find_all(class_="ratingColumn imdbRating"):
    Movie_Rating.append(i.text.splitlines()[1])


Movie_Rating = Movie_Rating [0:100]

In [26]:
len (Movie_Rating)

100

In [27]:
# Making DataFrame   

df3=pd.DataFrame({'Title':Movie_Titles,'Rating':Movie_Rating,'Year of Release':Movie_Year})

df3.index=df3.index+1 
df3.index.name="Rank"

df3

                                  Title Rating Year of Release
Rank
1                              Jai Bhim    8.4          (2021)
2                            Anbe Sivam    8.4          (2003)
3                               Golmaal    8.4          (1979)
4                               Nayakan    8.4          (1987)
5                     Pariyerum Perumal    8.4          (2018)
...                                 ...    ...             ...
96                               Masaan    8.0          (2015)
97                              Kahaani    8.0          (2012)
98          Baahubali 2: The Conclusion    8.0          (2017)
99                       Dil Chahta Hai    8.0          (2001)
100             Maheshinte Prathikaaram    8.0          (2016)

[100 rows x 3 columns]

### <font color='red'> 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm</font>

In [28]:
page4= requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page4

In [29]:
soup4=BeautifulSoup(page4.content)

In [30]:
presidents=[]

for name in soup4.find_all('h3'):
    presidents.append(name.text)

In [31]:
tof=[]

for term in soup4.find_all('p'):
    tof.append(term.text)

tof=tof[0:5:2]

In [32]:
office=[]

for term in soup4.find_all('p'):
    office.append(term.text)

office=office[6:16]

In [33]:
final=tof+office

In [34]:
term_of_office=[]

for i in final:
    term_of_office.append(i.split(":")[1])

In [35]:
# Making DataFrame

df3=pd.DataFrame({"Former Presidents":presidents,"Term of Office":term_of_office})
df3.index=df3.index+1

df3

,Former Presidents,Term of Office
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

### <font color='red'>5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:</font>

### <font color='red'>a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.</font>

### <font color='red'>b) Top 10 ODI Batsmen along with the records of their team and rating.</font>

### <font color='red'>c) Top 10 ODI bowlers along with the records of their team and rating.</font>

#### <font color='red'>a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.</font>

In [36]:
page5= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page5

In [37]:
soup5=BeautifulSoup(page5.content)

In [38]:
team = soup5.find_all('span', class_='u-hide-phablet')

In [39]:
Team_Name = []

for i in team:
    Team_Name.append(i.text)
    
Team_Name = Team_Name[0:20]

In [40]:
matches = soup5.find_all('td', class_ = ('rankings-block__banner--matches','rankings-block__banner--points','table-body__cell u-center-text'))

In [41]:
Matches = []

for i in matches:
    Matches.append(i.text)

In [42]:
len(Matches)

40

In [43]:
MATCHES = Matches[0:40:2]

In [44]:
len(MATCHES)

20

In [45]:
Points = Matches[1:40:2]

In [46]:
len(Points)

20

In [47]:
rating= soup5.find_all('td',class_=('rankings-block__banner--rating u-text-right','table-body__cell u-text-right rating'))

In [48]:
Rating = []

for i in rating:
    Rating.append(i.text.replace('\n',''))

In [49]:
len(Rating)

20

In [50]:
# Making DataFrame 

df5=pd.DataFrame({'Team':Team_Name,'Matches':MATCHES,'Point':Points,'Rating':Rating})

df5.index=df5.index+1 
df5.index.name="Position"

df5.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# Top_10_team = pd.DataFrame({})

# Top_10_team['Team']=Team_Name[:10]
# Top_10_team['Matches']=MATCHES[:10]
# Top_10_team['Point']=Points[:10]
# Top_10_team['Rating']=Rating[:10]

# Top_10_team

,Team,Matches,Point,Rating
Position,,,,
1,New Zealand,12,"1,505",125 ...
2,England,22,"2,756",125
3,Pakistan,19,"2,005",106
4,India,22,"2,304",105
5,Australia,23,"2,325",101
6,South Africa,19,"1,872",99
7,Bangladesh,24,"2,275",95
8,Sri Lanka,29,"2,658",92
9,West Indies,32,"2,306",72
10,Afghanistan,18,"1,238",69

#### <font color='red'>b) Top 10 ODI Batsmen along with the records of their team and rating.</font>

In [51]:
page6 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page6

In [52]:
soup6 = BeautifulSoup(page6.content)

In [53]:
pname = soup6.find_all(('div','td'), class_=('rankings-block__banner--name-large','table-body__cell rankings-table__name name'))

In [54]:
Player = []

for i in pname:
    Player.append(i.text.replace('\n',''))

In [55]:
team = soup6.find_all(('div','span'), class_=('rankings-block__banner--nationality','table-body__logo-text'))

In [56]:
Team = []

for i in team:
    Team.append(i.text.replace('\n',''))

In [57]:
rating = soup6.find_all(('div','td'), class_= ('rankings-block__banner--rating','table-body__cell rating'))

In [58]:
Rating = []

for i in rating:
    Rating.append(i.text)

In [59]:
# Making DataFrame 

df6=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})

df6.index=df6.index+1
df6.index.name="Position"

df6.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# Top_10_ODI_batsman = pd.DataFrame({})

# Top_10_ODI_batsman['Player']=Player[:10]

# Top_10_ODI_batsman['Team']=Team[:10]
# Top_10_ODI_batsman['Rating']=Rating[:10]

# Top_10_ODI_batsman

                         Player                     Team Rating
Position
1                    Babar Azam  PAK                        892
2                   Imam-ul-Haq                      PAK    815
3                   Virat Kohli                      IND    811
4                  Rohit Sharma                      IND    791
5               Quinton de Kock                       SA    789
6                   Ross Taylor                       NZ    775
7         Rassie van der Dussen                       SA    769
8                Jonny Bairstow                      ENG    752
9                  David Warner                      AUS    737
10                    Shai Hope                       WI    718

#### <font color='red'>c) Top 10 ODI bowlers along with the records of their team and rating.</font>

In [60]:
page7 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page7

In [61]:
soup7 = BeautifulSoup(page7.content)

In [62]:
bowler = soup7.find_all(('div','td'), class_=('rankings-block__banner--name-large','table-body__cell rankings-table__name name'))

In [63]:
Bowler = []

for i in bowler:
    Bowler.append(i.text.replace('\n',''))

In [64]:
team = soup7.find_all(('div','span'), class_=('rankings-block__banner--nationality','table-body__logo-text'))

In [65]:
B_Team = []

for i in team:
    B_Team.append(i.text.replace('\n',''))

In [66]:
rating = soup7.find_all(('div','td'), class_= ('rankings-block__banner--rating','table-body__cell rating'))

In [67]:
B_rating = []

for i in rating:
    B_rating.append(i.text.replace('\n',''))

In [68]:
cbrating = soup7.find_all(('span','td'), class_= ('rankings-block__career-best-text','table-body__cell u-text-right u-hide-phablet'))

In [69]:
CB_Rating = []

for i in cbrating:
    CB_Rating.append(i.text.replace('\n',''))

In [70]:
# Making DataFrame 

df7=pd.DataFrame({'Bowler':Bowler,'Team':B_Team,'Rating':B_rating,'CB_Rating':CB_Rating})

df7.index=df7.index+1 
df7.index.name="Position"

df7.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# Top_10_ODI_bowlers = pd.DataFrame({})

# Top_10_ODI_bowlers['Bowler']=Bowler[0:10]
# Top_10_ODI_bowlers['Team']=B_Team[0:10]
# Top_10_ODI_bowlers['Rating']=B_rating[0:10]
# Top_10_ODI_bowlers['CB_Rating']=CB_Rating[0:10]

# Top_10_ODI_bowlers

,Bowler,Team,Rating,CB_Rating
Position,,,,
1,Trent Boult,NZ,726,770 v West Ind...
2,Matt Henry,NZ,683,691 v Banglade...
3,Shaheen Afridi,PAK,681,688 v West Ind...
4,Chris Woakes,ENG,680,711 v Sri Lank...
5,Jasprit Bumrah,IND,679,841 v West Ind...
6,Josh Hazlewood,AUS,679,"733 v England,..."
7,Mujeeb Ur Rahman,AFG,676,"712 v Ireland,..."
8,Mehedi Hasan,BAN,661,725 v Sri Lank...
9,Mohammad Nabi,AFG,657,657 v Zimbabwe...
10,Shakib Al Hasan,BAN,657,717 v Zimbabwe...

### <font color='red'>6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:</font>

### <font color='red'>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</font>

### <font color='red'>b) Top 10 women’s ODI Batting players along with the records of their team and rating.</font>

### <font color='red'>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.</font>

#### <font color='red'>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</font>

In [71]:
page8= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page8

In [72]:
soup8=BeautifulSoup(page8.content)

In [73]:
team = soup8.find_all('span', class_='u-hide-phablet')

In [74]:
Team_Name = []

for i in team:
    Team_Name.append(i.text)
    
Team_Name = Team_Name[0:10]

In [75]:
matches = soup8.find_all('td', class_ = ('table-body__cell u-center-text','rankings-block__banner--matches','rankings-block__banner--points'))

In [76]:
Matches = []

for i in matches:
    Matches.append(i.text)

In [77]:
len(Matches)

22

In [78]:
MATCHES = Matches[0:20:2]

In [79]:
len(MATCHES)

10

In [80]:
Points = Matches[1:20:2]

In [81]:
len(Points)

10

In [82]:
rating= soup8.find_all('td',class_=('rankings-block__banner--rating u-text-right','table-body__cell u-text-right rating'))

In [83]:
Rating = []

for i in rating:
    Rating.append(i.text.replace('\n',''))

In [84]:
len(Rating)

11

In [85]:
RATING = Rating[0:10]

In [86]:
len(RATING)

10

In [87]:
# Making DataFrame 

df8=pd.DataFrame({'Team':Team_Name,'Matches':MATCHES,'Point':Points,'Rating':RATING})

df8.index=df8.index+1
df8.index.name="Position"

df8.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# Top_10_team = pd.DataFrame({})

# Top_10_team['Team']=Team_Name
# Top_10_team['Matches']=MATCHES
# Top_10_team['Point']=Points
# Top_10_team['Rating']=RATING

# Top_10_team

,Team,Matches,Point,Rating
Position,,,,
1,Australia,29,"4,837",167 ...
2,South Africa,32,"3,949",123
3,England,30,"3,531",118
4,India,29,"2,889",100
5,New Zealand,31,"3,019",97
6,West Indies,30,"2,768",92
7,Bangladesh,12,930,78
8,Pakistan,30,"1,962",65
9,Sri Lanka,8,384,48
10,Ireland,8,351,44

#### <font color='red'>b) Top 10 women’s ODI Batting players along with the records of their team and rating.</font>

In [88]:
page9 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page9

In [89]:
soup9=BeautifulSoup(page9.content)

In [90]:
pname = soup9.find_all(('div','td'), class_=('rankings-block__banner--name-large','table-body__cell rankings-table__name name'))

In [91]:
Player = []

for i in pname:
    Player.append(i.text.replace('\n',''))
    
Player = Player[0:10]

In [92]:
team = soup9.find_all(('div','span'), class_=('rankings-block__banner--nationality','table-body__logo-text'))

In [93]:
Team = []

for i in team:
    Team.append(i.text.replace('\n',''))
    
Team = Team[0:10]

In [94]:
rating = soup9.find_all(('div','td'), class_= ('rankings-block__banner--rating','table-body__cell rating'))

In [95]:
Rating = []

for i in rating:
    Rating.append(i.text)
    
Rating = Rating[0:10]

In [96]:
# Making DataFrame 

df9=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})

df9.index=df9.index+1
df9.index.name="Position"

df9.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# Top_10_ODI_women_batsman = pd.DataFrame({})

# Top_10_ODI_women_batsman['Player']=Player
# Top_10_ODI_women_batsman['Team']=Team
# Top_10_ODI_women_batsman['Rating']=Rating

# Top_10_ODI_women_batsman

                     Player                     Team Rating
Position
1              Alyssa Healy  AUS                        785
2            Natalie Sciver                      ENG    750
3               Beth Mooney                      AUS    748
4           Laura Wolvaardt                       SA    713
5               Meg Lanning                      AUS    710
6            Rachael Haynes                      AUS    701
7         Amy Satterthwaite                       NZ    681
8           Smriti Mandhana                      IND    669
9            Tammy Beaumont                      ENG    659
10             Ellyse Perry                      AUS    642

#### <font color='red'>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.</font>

In [97]:
page10 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page10

In [98]:
soup10=BeautifulSoup(page10.content)

In [99]:
alplayer = soup10.find_all(('div','td'), class_=('rankings-block__banner--name-large','table-body__cell rankings-table__name name'))

In [100]:
AL_Player = []

for i in alplayer:
    AL_Player.append(i.text.replace('\n',''))
    
AL_Player = AL_Player[0:10]

In [101]:
alteam = soup10.find_all(('div','span'), class_=('rankings-block__banner--nationality','table-body__logo-text'))

In [102]:
AL_team = []

for i in alteam:
    AL_team.append(i.text.replace('\n',''))
    
AL_team = AL_team[0:10]

In [103]:
alrating = soup10.find_all(('div','td'),class_=('rankings-block__banner--rating','table-body__cell rating'))

In [104]:
AL_rating = []

for i in alrating:
    AL_rating.append(i.text)
    
AL_rating = AL_rating[0:10]

In [105]:
# CB rating = Career best rating

cbrating = soup10.find_all(('span','td'),class_=('rankings-block__career-best-text','table-body__cell u-text-right u-hide-phablet'))

In [106]:
CB_Rating = []

for i in cbrating:
    CB_Rating.append(i.text.replace('\n',''))
    
CB_Rating = CB_Rating[0:10]

In [107]:
# Making DataFrame 

df10=pd.DataFrame({'Player':AL_Player,'Team':AL_team,'Rating':AL_rating,'CB_Rating':CB_Rating})

df10.index=df10.index+1
df10.index.name="Position"

df10.head(10)

#-------------------------------OR----------------------------#

# Another way of Making DataFrame

# top10_allrounder =pd.DataFrame({})

# top10_allrounder['Player']=AL_Player
# top10_allrounder['Team']=AL_team
# top10_allrounder['Rating']=AL_rating
# top10_allrounder['CB_Rating']=CB_Rating

# top10_allrounder

,Player,Team,Rating,CB_Rating
Position,,,,
1,Natalie Sciver,ENG,393,393 v Australi...
2,Ellyse Perry,AUS,374,548 v West Ind...
3,Hayley Matthews,WI,338,"365 v India, 1..."
4,Marizanne Kapp,SA,338,419 v West Ind...
5,Amelia Kerr,NZ,335,339 v South Af...
6,Ashleigh Gardner,AUS,269,279 v West Ind...
7,Deepti Sharma,IND,249,397 v South Af...
8,Jess Jonassen,AUS,245,308 v West Ind...
9,Sune Luus,SA,223,"223 v Ireland,..."
10,Katherine Brunt,ENG,221,296 v Australi...

### <font color='red'>7) Write a python program to scrape mentioned news details from : https://www.cnbc.com/world/region=world</font>

### <font color='red'>i) Headline</font>

### <font color='red'>ii) Time</font>

### <font color='red'>iii) News Link</font>

In [108]:
page11 = requests.get('https://www.cnbc.com/world/?region=world')
page11

In [109]:
soup11 = BeautifulSoup(page11.content)

#### <font color='red'>i) Headline</font>

In [110]:
# Headline

news_headline = []

for i in soup11.find_all("a", class_='LatestNews-headline'):
    news_headline.append(i.text)

#### <font color='red'>ii) Time</font>

In [111]:
# Time

news_time = []

for i in soup11.find_all("span",class_="LatestNews-wrapper"):
    news_time.append(i.text)

#### <font color='red'>iii) News Link</font>

In [112]:
# News link

news_link = []

for i in soup11.find_all("a", class_='LatestNews-headline'):
    news_link.append(i.get('href'))

In [113]:
# Making dataframe

df11 = pd.DataFrame({'Headline': news_headline, 'Time': news_time, 'News link': news_link})

df11.index=df11.index+1

df11

,Headline,Time,News link
1,"In China, more and more people want to save mo...",42 Min Ago,https://www.cnbc.com/2022/06/30/pboc-chinese-p...
2,Coinbase seeks licenses in Europe as it looks ...,1 Hour Ago,https://www.cnbc.com/2022/06/30/coinbase-seeks...
3,Here's what's hot — and what's not — in fintec...,1 Hour Ago,https://www.cnbc.com/2022/06/30/heres-whats-ho...
4,European markets set to continue declines as r...,2 Hours Ago,https://www.cnbc.com/2022/06/30/european-marke...
5,Grayscale sues SEC after rejection of bid to t...,3 Hours Ago,https://www.cnbc.com/2022/06/30/grayscale-sues...
6,China continues to snap up Russian coal at ste...,5 Hours Ago,https://www.cnbc.com/2022/06/30/china-snaps-up...
7,Goldman says buy these global stocks to play a...,6 Hours Ago,https://www.cnbc.com/2022/06/30/electric-vehic...
8,China Shenzhen stocks rise as data shows facto...,7 Hours Ago,https://www.cnbc.com/2022/06/30/asia-markets-c...
9,Cramer's lightning round: I prefer Deere over ...,7 Hours Ago,https://www.cnbc.com/2022/06/29/cramers-lightn...
10,Cramer warns investors not to group all stocks...,7 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-warns-i...
11,Cramer: Charts suggest the recent commodities ...,7 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-charts-...
12,Palantir CEO Alex Karp on fighting with Peter ...,7 Hours Ago,https://www.cnbc.com/2022/06/29/palantir-ceo-k...
13,Spirit delays merger shareholder vote before m...,8 Hours Ago,https://www.cnbc.com/2022/06/29/spirit-airline...
14,Pinterest improving boards to help people ‘tak...,8 Hours Ago,https://www.cnbc.com/2022/06/29/pinterest-impr...
15,Best trades on CNBC Wednesday: Find bargains a...,8 Hours Ago,https://www.cnbc.com/2022/06/29/best-trades-on...
16,Stock futures fall as S&P 500 tracks for worst...,8 Hours Ago,https://www.cnbc.com/2022/06/29/stock-market-f...
17,Judge lifts Trump's contempt order in New York...,9 Hours Ago,https://www.cnbc.com/2022/06/29/judge-lifts-tr...
18,CoinFlex probably won't resume withdrawals Thu...,10 Hours Ago,https://www.cnbc.com/2022/06/29/coinflex-ceo-u...
19,Amazon wants us to believe the robots are comi...,10 Hours Ago,https://www.cnbc.com/2022/06/29/amazon-remars-...
20,RH shares slide after company lowers its outlo...,10 Hours Ago,https://www.cnbc.com/2022/06/29/rh-shares-slid...
21,This former financial advisor now educates adv...,10 Hours Ago,https://www.cnbc.com/2022/06/29/this-former-fi...
22,Debt collector 'pay to pay fees' are 'often il...,11 Hours Ago,https://www.cnbc.com/2022/06/29/debt-collector...
23,Recession stars: The best stocks in every indu...,11 Hours Ago,https://www.cnbc.com/2022/06/29/recession-star...
24,'It's like going to the DMV online': How to bu...,12 Hours Ago,https://www.cnbc.com/2022/06/29/how-to-buy-ser...
25,Longtime Google exec Nick Fox to take interim ...,12 Hours Ago,https://www.cnbc.com/2022/06/29/googles-nick-f...
26,How to calculate your credit utilization rate,12 Hours Ago,https://www.cnbc.com/2022/06/29/how-to-calcula...
27,BofA price-target cuts on Club chip stocks don...,12 Hours Ago,https://www.cnbc.com/2022/06/29/bofa-price-tar...
28,Supreme Court Justice Breyer to retire Thursda...,13 Hours Ago,https://www.cnbc.com/2022/06/29/supreme-court-...
29,Stocks making the biggest moves midday: Bed Ba...,14 Hours Ago,https://www.cnbc.com/2022/06/29/stocks-making-...
30,LVMH buys California wine giant Joseph Phelps ...,14 Hours Ago,https://www.cnbc.com/2022/06/29/lvmh-buys-cali...

### <font color='red'>8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
    
### https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles 
### <font color='red'>Scrape below mentioned details:</font>

### <font color='red'>i) Paper Title</font>

### <font color='red'>ii) Authors</font>

### <font color='red'>iii) Published Date</font>

### <font color='red'>iv) Paper URL</font>

In [114]:
page12 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page12

In [115]:
soup12 = BeautifulSoup(page12.content)

#### <font color='red'>i) Paper Title</font>

In [116]:
# Paper title

title = []

for i in soup12.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)

#### <font color='red'>ii) Authors</font>

In [117]:
# Authors

authors = []

for i in soup12.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)

#### <font color='red'>iii) Published Date</font>

In [118]:
# Published date

pub_date = []

for i in soup12.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    pub_date.append(i.text)

#### <font color='red'>iv) Paper URL</font>

In [119]:
# Paper URL

paper_url = []

for i in soup12.find_all("a", class_="sc-5smygv-0 nrDZj"):
    paper_url.append(i.get('href'))

In [120]:
print(len(title), len(authors), len(pub_date), len(paper_url))

25 25 25 25

In [121]:
# Making dataframe

df12 = pd.DataFrame({'Paper title': title, 'Authors': authors , 'Published date': pub_date, 'Paper URL':paper_url})

df12.index=df12.index+1

df12

,Paper title,Authors,Published date,Paper URL
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

### <font color='red'>9) Write a python program to scrape mentioned details from dineout.co.in :</font>
### <font color='red'>i) Restaurant name</font>
### <font color='red'>ii) Cuisine</font>
### <font color='red'>iii) Location</font>
### <font color='red'>iv) Ratings</font>
### <font color='red'>v) Image URL</font>

In [122]:
page13 = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page13

In [123]:
soup13 = BeautifulSoup(page13.content)

#### <font color='red'>i) Restaurant name</font>

In [124]:
# Restaurant name 

restaurant_name = []

for i in soup13.find_all('div',class_ ='restnt-info cursor'):
    restaurant_name.append(i.text)

#### <font color='red'>ii) Cuisine</font>

In [125]:
# Cuisine

cuisine = []

for i in soup13.find_all('span',class_ ='double-line-ellipsis'):
    cuisine.append(i.text.replace('₹','').split('|')[1])

#### <font color='red'>iii) Location</font>

In [126]:
location=[]

for i in soup13.find_all('div',class_ ='restnt-loc ellipsis'):
    location.append(i.text)
        
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

#### <font color='red'>iv) Ratings</font>

In [127]:
# Ratings

rating = []

for i in soup13.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)

#### <font color='red'>v) Image URL</font>

In [128]:
# Image URL

image_url = []
    
for i in soup13.find_all('img',class_='no-img'):
     image_url.append(i['data-src'])

In [129]:
# Making dataframe

df13 = pd.DataFrame({'Restaurant name':restaurant_name, 'Cuisine':cuisine,'Location':location,'Rating':rating,'Image_URL':image_url})

df13.index=df13.index+1

df13

,Restaurant name,Cuisine,Location,Rating,Image_URL
1,"Castle BarbequeConnaught Place, Central Delhi","North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
2,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
6,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,"Mad 4 Bar B QueSector 29, Faridabad",North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
12,"Barbeque 29NIT, Faridabad","North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

### <font color='red'>10) Write a python program to scrape the details of top publications from Google Scholar from 
### https://scholar.google.com/citations?view_op=top_venues&hl=en</font>
### <font color='red'>i) Rank</font>
### <font color='red'>ii) Publication</font>
### <font color='red'>iii) h5-index</font>
### <font color='red'>iv) h5-median</font>

In [130]:
page14 = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page14

In [131]:
soup14 = BeautifulSoup(page14.content)

#### <font color='red'>i) Rank</font>

In [132]:
# Rank

rank = []

for i in soup14.find_all('td', class_="gsc_mvt_p"):
    rank.append(i.text)

#### <font color='red'>ii) Publication</font>

In [133]:
# Publication

publication = []

for i in soup14.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

#### <font color='red'>iii) h5-index</font>

In [134]:
# h5-index

h5_index = [] 

for i in soup14.find_all('td',class_="gsc_mvt_n"):
    h5_index .append(i.text)
    
h5_index=h5_index[::2]

#### <font color='red'>iv) h5-median</font>

In [135]:
# h5-median

h5_median = []

for i in soup14.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

In [136]:
print(len(rank), len(publication), len(h5_index), len(h5_median))

100 100 100 100

In [137]:
# Making DataFrame

df14 = pd.DataFrame({'Rank':rank, 'Publication':publication, 'h5-index':h5_index, 'h5-median':h5_median})

df14.index=df14.index+1

df14

,Rank,Publication,h5-index,h5-median
1,1.,Nature,444,667
2,2.,The New England Journal of Medicine,432,780
3,3.,Science,401,614
4,4.,IEEE/CVF Conference on Computer Vision and Pat...,389,627
5,5.,The Lancet,354,635
...,...,...,...,...
96,96.,Journal of Business Research,145,233
97,97.,Molecular Cancer,145,209
98,98.,Sensors,145,201
99,99.,Nature Climate Change,144,228
100,100.,IEEE Internet of Things Journal,144,212